.button{
  background-color: rgb(53, 132, 235);
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px;
  text-align: center; 
  margin-left: 50px;
}

.feat{
  font-weight: 1;
   /* filter: blur(1px); */
}
