.button{
  background-color: rgb(53, 132, 235);
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px;
  text-align: center; 
  width: 100%;
  border-image: linear-gradient(rgb(53, 132, 235), lightblue) 0;
}

.feat{
  font-weight: 1;
   /* filter: blur(1px); */
}

/* .border{
  background: linear-gradient(to right,rgb(53, 132, 235),lightblue);
  background-origin: padding-box, border-box;
  border: 5px ;
  background-repeat: no-repeat;
} */

.border{
  border-image: linear-gradient(rgb(53, 132, 235), lightblue 1000px,rgb(53, 132, 235) 10px) 50;
  border-width: 16px;
  border-style: solid;
}

/* .border {
  border-style: solid;
  border-width: 4px;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  clip-path: inset(0 round 5px)
} */



